  
  
.box img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    cursor: pointer;
  
}
.box img:hover{
    transform: scale(0.9);

}
.box{
    background-image: linear-gradient(rgb(9, 9, 88), rgb(113, 105, 105));
   
   border-radius: 10px;
    color: aliceblue;
    margin: auto;
    margin-top: 110px;
    text-align: center;
    padding: 40px;
    width: 450px;
   
  
    

}
body{
    background: url(rs.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.box p{
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
    line-height: 20px;
    word-spacing: 2px;
    text-align: center;
    color: rgb(125, 130, 135);
   
}

.box h1{
    
    font-size: 30px;
    border-bottom: 1px solid white;
}
.box li{
    align-items: center;
    padding: 30px;
    display: inline;
    list-style-type: none;
}
.box a {
    color: aliceblue;
    font-size: 30px;
}
.box li a :hover{
    color: rgb(39, 39, 105);
    transform: 0.7sn;
}

   
   
   
    
    